<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>cydia</string>
		<string>sileo</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string></string>
	</array>
	<key>NSCameraPortraitEffectEnabled</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We are using a camera to scan Keyri QR code for authorization</string>
</dict>
</plist>
